img {
  padding: 15px;
  width: auto;
  float: right;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h5{
    display: inline;
}

h4{
    display: inline;
}

link {
  color: #000000;
  background-color: transparent;
  text-decoration: none;
}
